<div class="feed-toggler">
  <ul class="nav nav-pills outline-active">
    <li class="nav-item" *ngIf="isLoggedIn$ | async">
      <a class="nav-link" [routerLink]="['/feed']" routerLinkActive="active">Your Feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/']" routerLinkActive="active">Global Feed</a>
    </li>
    <li class="nav-item" *ngIf="currentTag">
      <a class="nav-link" [routerLink]="['/tags', currentTag]" routerLinkActive="active">{{ currentTag }}</a>
    </li>
  </ul>
</div>
